/* Efecto de elevación para las tarjetas de noticias */
.card {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15) !important;
}

.bg-primary { background-color: #60666b !important; }

/* Matando al celeste por defecto de Bootstrap */
.btn-primary, .bg-primary {
    background-color: #611c46 !important; 
    border-color: #212529 !important;
    color: white !important;
}

.btn-outline-primary {
    color: #212529 !important;
    border-color: #212529 !important;
}

.btn-outline-primary:hover {
    background-color: #e70e7b !important;
    color: white !important;
}

/* Color personalizado para los títulos de bienvenida */
.texto-bienvenida {
    color: #874288 !important; 
    font-weight: 800; 
}

/* Efecto suave para los botones en estado normal */
.btn-primary {
    transition: all 0.3s ease-in-out !important;
}

/* Efecto al pasar el cursor por encima */
.btn-primary:hover {
    background-color: #4a154b !important; /* Tu color berenjena personalizado */
    border-color: #4a154b !important;
    transform: translateY(-3px); /* Levanta el botón sutilmente */
    box-shadow: 0 5px 15px rgba(0,0,0,0.2) !important; /* Le agrega una sombrita al levantarse */
}

/* Base para que el movimiento de estos botones sea suavecito */
.btn-success, .btn-outline-primary {
    transition: all 0.3s ease-in-out !important;
}

/* El botón de "Publicar Noticia" se vuelve berenjena y salta */
.btn-success:hover {
    background-color: #4a154b !important; 
    border-color: #4a154b !important;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2) !important;
}

/* El botón de "Ingresar" ya cambia de color, así que solo le damos el salto */
.btn-outline-primary:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2) !important;
}